/* 기본 스타일 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
  }
  
ul {
    list-style-type: none;
  }
  
a {
    text-decoration: none;
    color: #000;
  }
  
#menu {
    position: fixed;
    top : 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: transparent;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  
#menu li {
    margin: 0 100px;
    line-height: 100px;
  }
  
#menu li a:hover {
    text-decoration: underline;
  }
  
.main-container {
    text-align: center;
  }

  
#name {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #c471f5;
    border-bottom: 3px solid #000;
    padding-bottom: 1px;
    display: inline-block;
    white-space: pre;
  }

/* 한 글자씩 나오는 효과 */
.typing span {
    opacity: 0;
    display: inline-block;
    animation: appear 0.5s forwards;
  }
  
#portfolio {
    font-size: 5rem;
    margin-top: 20px;
    display: inline-block;
    opacity: 1;
  }
  
@keyframes appear {
    to {
      opacity: 1;
    }
  }

section {
    padding: 250px 20px;
    text-align: center;
  }

  .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* 줄바꿈 허용 (반응형 고려) */
    gap: 30px; /* 도넛 사이 간격 */
    text-align: center;
    margin: 40px auto;
  }
  
  .skills img {
    height: 60px;
  }

  .fade-img {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 올라오는 효과 */
    transition: all 0.8s ease;
  }
  
  /* 보여질 때 적용할 클래스 */
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
